title: "My Pentesting Blog"
description: "OSCP Journey and HTB Writeups"
theme: jekyll-theme-cayman

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
